.project_items {
    width: 90%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto 2em auto;

    .project_thumbnail {
        width: 50%;
        height: 100%;
        border-radius: 2em;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }

    .project_content {
        width: 45%;
        height: 100%;

        background: transparent;

        text-align: center;
        font-family: "Source Sans Pro", sans-serif;

        display: flex;
        justify-content: center;
        flex-direction: column;

        margin: 0 auto;

        padding: 1em 0;

        .items {
            margin-bottom: 1em;
            background: transparent;
        }

        h4 {
            font-weight: 700;
            font-size: 1.5em;
        }

        p {
            font-size: 1.2em;
            color: #999;
            font-weight: 600;
        }

        .project_techs {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            font-size: 11px;

            .tech_item {
                padding: 1em;

                background: #e7e7e7;
                font-weight: 700;
                color: #666666;
                font-size: 1.2em;

                font-family: "Source Sans Pro", sans-serif;

                display: flex;
                justify-content: space-between;

                margin-bottom: 1em;
                margin-right: 1em;

                border-radius: 0.5em;

                cursor: pointer;

                .tech_logo {
                    width: 1em;
                    height: 1em;

                    margin-right: 0.5em;
                    background: transparent;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;

                        background: transparent;
                    }
                }
            }
        }

        .project_buttons {
            display: flex;
            justify-content: center;

            a {
                font-size: 1.2em;
                font-weight: 600;
                text-transform: capitalize;

                margin-right: 1em;

                padding: 0.5em 1em;

                display: flex;
                justify-content: center;
                align-items: center;

                background: #ff8551;
                color: #fff;

                border-radius: 0.5em;

                letter-spacing: 0.1em;
                text-align: center;

                box-shadow: 2.1px 2.1px 2.7px rgba(0, 0, 0, 0.022), 5.2px 5.2px 6.9px rgba(0, 0, 0, 0.031),
                    10.6px 10.6px 14.2px rgba(0, 0, 0, 0.039), 21.9px 21.9px 29.2px rgba(0, 0, 0, 0.048),
                    60px 60px 80px rgba(0, 0, 0, 0.07);

                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: translateY(-0.2em);
                }

                img {
                    width: 1.2em;
                    height: 1.2em;

                    margin-left: 0.5em;

                    object-fit: contain;

                    background: transparent;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .project_items {
        flex-direction: column;

        .project_thumbnail,
        .project_content {
            width: 90%;
        }

        .project_thumbnail {
            margin: 0 auto;
        }
    }
}
