@use "../../assets/styles/widgets.scss";

.project_items {
    width: 90%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto 2em auto;

    .project_thumbnail {
        width: 50%;
        height: 100%;
        border-radius: 2em;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }

    .project_content {
        width: 45%;
        height: 100%;

        background: transparent;

        text-align: center;

        display: flex;
        justify-content: center;
        flex-direction: column;

        margin: 0 auto;

        padding: 1em 0;

        .items {
            margin-bottom: 1em;
            background: transparent;
        }

        h4 {
            font-weight: 700;
            font-size: 1.5em;
        }

        p {
            font-size: 1.2em;
            color: #999;
            font-weight: 600;
        }

        .project_techs {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            font-size: 11px;

            .tech_item {
                @include widgets.techItems;

                .tech_logo {
                    @include widgets.techLogo;
                }

                &:hover {
                    .tech_logo {
                        @include widgets.techLogoHover;
                    }
                }
            }
        }

        .project_buttons {
            display: flex;
            justify-content: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                @include widgets.button(1.2em, capitalize);
                padding: 0.5em 1em;
                margin-right: 1em;

                img {
                    width: 1.2em;
                    height: 1.2em;

                    margin-left: 0.5em;

                    object-fit: contain;

                    background: transparent;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .project_items {
        flex-direction: column;

        .project_thumbnail,
        .project_content {
            width: 90%;
        }

        .project_thumbnail {
            margin: 0 auto;
        }
    }
}
