.about_content {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 7em;

    background: transparent;

    .about {
        width: 45%;
        height: 38em;

        background: transparent;
    }

    .content_title {
        font-size: 2.1em;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        line-height: 3.3em;
    }

    .about_content_main {
        p {
            color: #999;
            font-size: 1.4em;
            line-height: 2em;
            font-family: "Source Sans Pro", sans-serif;
        }
    }

    .about_skills {
        .skill_container {
            position: relative;

            width: 100%;

            display: flex;
            flex-wrap: wrap;
            background: transparent;

            .skill_item {
                padding: 1em;

                background: #e7e7e7;
                font-weight: 700;
                color: #666666;
                font-size: 1.2em;

                font-family: "Source Sans Pro", sans-serif;

                display: flex;
                justify-content: space-between;

                margin-bottom: 1em;
                margin-right: 1em;

                border-radius: 0.5em;

                cursor: pointer;

                .skill_logo {
                    width: 1em;
                    height: 1em;

                    margin-right: 0.5em;

                    background: transparent;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;

                        background: transparent;
                    }
                }
            }
        }
    }
}
