@use "../../assets/styles/widgets.scss";

.about_content {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 7em;

    background: transparent;

    .about {
        position: relative;

        width: 45%;
        height: 50em;

        background: transparent;
    }

    .content_title {
        font-size: 2.1em;

        font-weight: 700;
        line-height: 3.3em;
    }

    .about_content_main {
        p {
            color: #999;
            font-size: 1.2em;
            line-height: 2em;
        }
    }

    .about_skills {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .skill_container {
            position: relative;

            width: 100%;

            display: flex;
            flex-wrap: wrap;
            background: transparent;

            .skill_item {
                @include widgets.techItems;

                &:hover {
                    .skill_logo {
                        @include widgets.techLogoHover;
                    }
                }

                .skill_logo {
                    width: 1em;
                    height: 1em;

                    margin-right: 0.5em;

                    background: transparent;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;

                        background: transparent;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .about_content {
        flex-direction: column;

        .about {
            width: 90%;
            height: auto;
        }
    }
}
