.form_container {
    position: relative;

    width: 80%;

    box-shadow: 1.7px 1.7px 2.2px rgba(0, 0, 0, 0.02), 4px 4px 5.3px rgba(0, 0, 0, 0.028),
        7.5px 7.5px 10px rgba(0, 0, 0, 0.035), 13.4px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        25.1px 25.1px 33.4px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.07);

    margin: 0 auto;

    border-radius: 1em;

    .contact_fields {
        width: 80%;

        padding: 1em 0;

        font-family: "Source Sans Pro", sans-serif;

        margin: 1em auto;

        label {
            color: #666666;

            font-size: 1.1em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-align: left;
        }

        textarea,
        input {
            width: 100%;
            height: 4.6em;
            background: #f0f0f0;
            color: #333333;
            border-radius: 0.5em;
            padding-left: 1em;
            font-weight: 600;

            margin-top: 1em;

            border: 0.1em solid #ccc;
        }

        textarea {
            height: 20em;
        }
    }
}
