.header_wrapper {
    position: fixed;

    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 1em 2em;

    font-size: 13px;

    z-index: 10;

    background: #faf0e4;

    box-shadow: 0px 2.1px 2.7px rgba(0, 0, 0, 0.022), 0px 5.2px 6.9px rgba(0, 0, 0, 0.031),
        0px 10.6px 14.2px rgba(0, 0, 0, 0.039), 0px 21.9px 29.2px rgba(0, 0, 0, 0.048),
        0px 60px 80px rgba(0, 0, 0, 0.07);

    .header_logo_container {
        display: flex;
        align-items: center;
        color: #000;

        img {
            width: 3em;
            height: 3em;

            border-radius: 50%;

            margin-right: 0.5em;

            object-fit: contain;
        }

        span {
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 700;
            letter-spacing: 0.01em;

            transition: all 0.3s ease-in-out;

            cursor: pointer;

            &:hover {
                color: #9bcdd2;

                transition: all 0.3s ease-in-out;
            }
        }
    }

    .header_nav_link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_link {
            padding: 2em 2.5em;

            cursor: pointer;

            font-weight: 700;
            text-transform: uppercase;
            color: #000;

            transition: all 0.3s ease-in-out;

            &:hover {
                color: #9bcdd2;

                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .header_wrapper {
        .header_nav_link {
            display: none;
        }
    }
}
