::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background-color: #555; */
    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Montserrat", sans-serif !important;
}

body {
    background: #faf0e4;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea,
input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
