.banner_wrapper {
    position: relative;

    margin-top: 8em;

    width: 100%;
    height: 80vh;

    font-size: 13px;

    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .social_button_wrapper {
        position: absolute;

        top: 50%;
        left: 0;

        transform: translateY(-50%);

        width: 5em;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1em 0;

        border-radius: 0 0.5em 0.5em 0;

        box-shadow: 2.1px 0px 2.7px rgba(0, 0, 0, 0.022), 5.2px 0px 6.9px rgba(0, 0, 0, 0.031),
            10.6px 0px 14.2px rgba(0, 0, 0, 0.039), 21.9px 0px 29.2px rgba(0, 0, 0, 0.048),
            60px 0px 80px rgba(0, 0, 0, 0.07);

        .social_icon_link {
            width: 3em;
            height: 3em;

            margin: 0.5em 0;

            transition: all 0.3s ease-in-out;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0.5em;

            &:hover {
                background: #ff8551;

                transition: all 0.3s ease-in-out;
            }

            img {
                width: 80%;
                height: 80%;

                object-fit: contain;

                background: transparent;
            }
        }
    }

    .banner_content {
        width: 70%;

        position: relative;

        margin: 0 auto;

        background: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .hero {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 50%;
            height: 100%;

            background: transparent;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #fa9a25, #f87d33);
                animation: bubble-effect 4s linear infinite;
                padding: 0.5rem;

                width: 25em;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: bubble-effect 4s linear infinite;
                }

                @keyframes bubble-effect {
                    0%,
                    100% {
                        border-radius: 43% 37% 68% 32% / 40% 67% 33% 63%;
                    }

                    30% {
                        border-radius: 28% 92% 70% 30% / 78% 30% 70% 22%;
                    }

                    60% {
                        border-radius: 87% 13% 70% 30% / 26% 67% 33% 74%;
                    }
                }
            }
        }

        .banner_text {
            width: 50%;

            display: flex;
            justify-content: center;
            flex-direction: column;

            background: transparent;

            .content_items {
                margin-bottom: 0.7em;
            }

            h1 {
                text-transform: capitalize;
                font-weight: 800;
                letter-spacing: 0.2em;
                font-size: 3.5em;
                line-height: 1em;
            }

            p {
                font-size: 1.5em;
                text-align: left;
                color: #999;
            }

            button {
                width: 17em;
                height: 3em;

                background: #ff8551;

                border-radius: 0.5em;

                font-weight: 700;
                letter-spacing: 0.1em;
                font-size: 1.3em;
                text-align: center;
                text-transform: uppercase;
                color: #fff;

                box-shadow: 2.1px 2.1px 2.7px rgba(0, 0, 0, 0.022), 5.2px 5.2px 6.9px rgba(0, 0, 0, 0.031),
                    10.6px 10.6px 14.2px rgba(0, 0, 0, 0.039), 21.9px 21.9px 29.2px rgba(0, 0, 0, 0.048),
                    60px 60px 80px rgba(0, 0, 0, 0.07);

                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: translateY(-0.2em);
                }
            }
        }
    }
    .mouse_container {
        position: absolute;
        width: 100%;

        bottom: 0;

        .mouse {
            position: relative;

            margin: 0 auto;

            width: 1.7em;
            height: 2.7em;

            border: 4px solid #333333;
            border-radius: 4em;

            &::before {
                content: "";
                position: absolute;

                width: 0.3em;
                height: 0.3em;

                top: 0.5em;
                left: 50%;
                transform: translateX(-50%);

                background-color: #333;

                border-radius: 50%;
                opacity: 1;
                animation: mouse 2s infinite;
            }

            @keyframes mouse {
                from {
                    opacity: 1;
                    top: 0.5em;
                }
                to {
                    opacity: 0;
                    top: 2em;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .banner_wrapper {
        font-size: 11px;

        .social_button_wrapper {
            display: none;
        }

        .banner_content {
            width: 90%;

            text-align: center;

            .banner_avt {
                display: none;
            }

            .banner_text {
                width: 100%;

                align-items: center;

                p {
                    text-align: center;
                }
            }

            .hero {
                display: none;
            }
        }

        .mouse_container {
            .mouse {
                position: absolute;

                bottom: 0;

                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .banner_wrapper {
        font-size: 12px;

        .social_button_wrapper {
            .social_icon_link {
                width: 1.5em;
                height: 1.5em;
            }
        }

        .banner_content {
            .hero {
                .avatar {
                    height: 50%;
                }
            }

            .banner_text {
                h1 {
                    font-size: 2em;
                }

                p {
                    font-size: 1em;
                }

                button {
                    font-size: 1em;
                }
            }
        }
    }
}
